@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic&subset=latin,cyrillic);

html{
    font-family:'Roboto', sans-serif;
}

nav .nav-wrapper{
    background: #673ab7;
    padding: 0 30px;
}

nav .nav-wrapper img{
    height: 50px;
}

nav .nav-wrapper ul li a:hover{
    color: #fff;
}

body{
    background: #eee;
}

.wrap .content{
    background: #fff;
    width: 975px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body .container .row{
    width: 930px;
    padding: 0px 30px;
    margin-left: 0;
    margin-right: 0;
}

.container .row .s4{
    padding: 20px 10px;
}

.container .row .s4 img{
    width: 250px;
}

.s4 a{
    text-align: center;
}

.container .row .s5 img{
    width: 350px;
}

a .row .s7 {
    font-weight: bold;
    padding: 40px 30px;
    color:  #673ab7;
}