<!--
<?php

/* @var $this \yii\web\View */
/* @var $content string */

use yii\helpers\Html;
use yii\bootstrap\Nav;
use yii\bootstrap\NavBar;
use yii\widgets\Breadcrumbs;
use app\assets\AppAsset;

AppAsset::register($this);
?>
<?php $this->beginPage() ?>
-->
<!DOCTYPE html>
<html lang="<?= Yii::$app->language ?>">
<head>
    <meta charset="<?= Yii::$app->charset ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
    <?= Html::csrfMetaTags() ?>
    <title><?= Html::encode($this->title) ?></title>
    <?php $this->head() ?>
-->
    <link rel="stylesheet" href="../web/css/style.css">
    <link rel="stylesheet" href="../web/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!--<?php $this->beginBody() ?>-->

<div class="wrap">
    
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="content/logo2.png" alt=""></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Motherlover</a></li>
            <li><a href="sass.html">Video1</a></li>
            <li><a href="sass.html">Video2</a></li>
            <li><a href="sass.html">Video3</a></li>
        </ul>
      </div>
    </nav>
    
    <div class="content container">
            
        <a href="">
            <div class="row">
                <div class="card-image col s5">
                    <img src="../web/content/921609.jpg">
                </div>
                <div class="col s7">
                    <h3>Video</h3>
                    <p>Description</p>
                    <i class="tiny material-icons">thumb_up</i> <span id="commentLikes">5</span>
                    <i class="tiny material-icons">thumb_down</i> <span id="commentDislikes">3</span><i class="tiny material-icons">call_made</i> <span id="commentShare">3</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="row">
                <div class="card-image col s5">
                    <img src="../web/content/921609.jpg">
                </div>
                <div class="col s7">
                    <h3>Video</h3>
                    <p>Description</p>
                    <i class="tiny material-icons">thumb_up</i> <span id="commentLikes">5</span>
                    <i class="tiny material-icons">thumb_down</i> <span id="commentDislikes">3</span><i class="tiny material-icons">call_made</i> <span id="commentShare">3</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="row">
                <div class="card-image col s5">
                    <img src="../web/content/921609.jpg">
                </div>
                <div class="col s7">
                    <h3>Video</h3>
                    <p>Description</p>
                    <i class="tiny material-icons">thumb_up</i> <span id="commentLikes">5</span>
                    <i class="tiny material-icons">thumb_down</i> <span id="commentDislikes">3</span><i class="tiny material-icons">call_made</i> <span id="commentShare">3</span>                
                </div>
            </div>
        </a>
        <a href="">
            <div class="row">
                <div class="card-image col s5">
                    <img src="../web/content/921609.jpg">
                </div>
                <div class="col s7">
                    <h3>Video</h3>
                    <p>Description</p>
                    <i class="tiny material-icons">thumb_up</i> <span id="commentLikes">5</span>
                    <i class="tiny material-icons">thumb_down</i> <span id="commentDislikes">3</span><i class="tiny material-icons">call_made</i> <span id="commentShare">3</span>
                </div>
            </div>
        </a>

        <footer class="footer">
            <div class="container">
                <p class="pull-left">&copy; Increment <?= date('Y') ?></p>

                <p class="pull-right"></p>
            </div>
        </footer>
    </div>

</div>

<script src="/web/js/jquery-2.2.0.js"></script>
<script src="/web/js/materialize.js"></script>

<!--<?php $this->endBody() ?>-->
</body>
</html>
<!--<?php $this->endPage() ?>-->